My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e3a21596-b3c5-44bb-88e5-0fe441a49b1b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "donkiSolarFlare",
        "additionalFields": {
          "startDate": "={{ $today.minus(7, 'days') }}",
          "endDate": "2026-07-16T00:00:00"
        }
      },
      "type": "n8n-nodes-base.nasa",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "6ed5925f-cde2-460d-9d0a-6cb6e093b3b9",
      "name": "Get a DONKI solar flare",
      "credentials": {
        "nasaApi": {
          "id": "S5QwiOVCpEr7PqEu",
          "name": "NASA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9194d5cd-4eca-4ad4-a15a-90a58bdb134e",
              "leftValue": "={{ $json.classType }}",
              "rightValue": "X",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "24479840-4be2-4812-95ec-ccf335b64505",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "request",
        "operation": "send",
        "binId": "1783598773176-2974849098827",
        "binContent": "={{ $json.classType }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.postBin",
      "typeVersion": 1,
      "position": [
        624,
        -96
      ],
      "id": "94318d6b-ad03-4dbe-973b-048f6bbb8570",
      "name": "Send a request"
    },
    {
      "parameters": {
        "resource": "request",
        "operation": "send",
        "binId": "1783598773176-2974849098827",
        "binContent": "={{ $json.classType }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.postBin",
      "typeVersion": 1,
      "position": [
        640,
        32
      ],
      "id": "bfc724d9-bb23-4a58-93e6-296b048468c6",
      "name": "Send a request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get a DONKI solar flare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a DONKI solar flare": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "06a67f30-9857-4d6e-a578-44280ceb1d32",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e2d48148170c1cce57085744bc18ecef8b9662361571ebf603e981c9e4126259"
  },
  "nodeGroups": [],
  "id": "p0zhr0dMd3oCOV0X",
  "tags": []
}